@import './../../../colorTheme'

h1
  text-align: center
  color: textColor
.wrapper
  max-width: 670px
  margin: 24px auto
  background-color: layerColor
  box-shadow: 0px 0px 50px -10px rgba(0,0,0,0.2),0px 0px 1px 0px rgba(0,0,0,0.2)
  padding: 48px
.button-row
  text-align: right
  margin-top: 12px

.aw-input
  &:last-of-type
    margin-right: 0