bkgColor = linear-gradient(to bottom, #000000 15%,rgb(47, 0, 0) 100%)
hoverColor = #70D7FF
activeColor = #0080B2
mainColor = #FF4800
mainGlow = rgba(255,111,0,1)
secondColor = #fff
textColor = rgba(216,147,131,0.3)

// button colors
btn_bkgColor = hsla(17,100%,50%,.1)
btn_activeColor = #70D7FF
btn_text = hsla(13,60%,50%,1)

// input colors
inp_border = hsla(17,100%,50%,.35)
inp_color = hsla(11, 52%, 68%, .3)
inp_error = hsla(3,100%,50%,1)
