bkgColor = white
// bkgColor = linear-gradient(to bottom, #000000 25%,rgb(47, 0, 0) 100%)
bkgImage = squad_alt
bkgImageOverlay = radial-gradient(ellipse at center, rgba(255,255,255,0) 0%,rgba(255,255,255,.3) 25%, rgba(255,255,255,1) 60%)

activeColor = #0080B2
mainColor = hsl(0, 100%, 50%)
secondColor = black
textColor = hsla(0, 0%, 12%, 1)
textColorSecond = hsla(0, 0%, 0%, 1)
layerColor = hsla(0, 100%, 100%, .75)

// button colors
btn_bkgColor = hsl(0, 0%, 85%)
btn_activeColor = hsl(0, 100%, 30%)
btn_text = black
btn_hover = hsl(0, 100%, 50%)

// input colors
inp_placeholder = rgba(0,0,0,.3)
inp_border = rgba(0,0,0,.2)
inp_color = black
inp_error = hsla(3,100%,50%,1)
inp_text = black
